.App {
  text-align: center;
}

.navbar {
  border-radius: 0 0 2px 2px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.userIcon {
  margin-left: 8vw;
}

.userIcon > a {
  width: 32px;
  padding: 0 !important;
  margin-top: 8px;
}

.userIcon a img {
  border-radius: 50%;
  width: 100%;
}

.userName {
  color: #fff;
  line-height: 50px;
  font-size: 12px;
  margin-left: -16px;
}

.nav-item {
  vertical-align: middle;
}

.navbarLogo {
  position: absolute;
  left: 20px;
}

.navbarMenu {
  position: absolute;
  right: 120px;
}

.navbarMenu ul {
  gap: 20px;
}

.dropdown-menu {
  padding: 0 !important;
}

.logoutButton {
  border: none;
  background: unset;
  display: block;
  width: 100%;
  padding: 0 !important;
}

.userDropdownMenu a {
  line-height: 40px;
}

.dropdown-divider {
  margin: 0 !important;
}

.nav-link:hover {
  opacity: 0.5;
}

.sr-only {
  margin-left: 20px;
}

.PhoneInputCountry {
  display: flex;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
} */

/* .form-label {
    font-weight: bold
} */

.form-gender {
  padding: 0 !important;
}

.form-select {
  height: 40px !important;
  font-size: 14px !important;
}

.form-check {
  padding-left: 20px !important;
}

.loginButton,
.registerButton {
  margin: 8px 0 0px;
}

.form-control {
  height: 40px !important;
}

.form-control span {
  margin-left: 8px;
}

.inputForm {
  display: flex;
  gap: 20px;
  padding: 0 !important;
}

#inputTitle {
  width: 100%;
  outline: none;
  border: none !important;
}

.listItem {
  display: flex;
  position: relative;
  gap: 2%;
  margin-top: 20px;
  border-radius: 8px;
  min-height: 160px;
  border: 1px solid #000;
  width: 80vw;
}

.listItem:nth-child(even) {
  background-color: gray;
  color: #fff;
}

.listItemImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-left: 2%;
}

.listItem img {
  border-radius: 50%;
  border: 1px solid #000;
  width: 100%;
  max-width: 120px;
}

.listItemContent {
  padding: 20px 8px;
  width: 76%;
}

.inputItemContent {
  width: 100%;
  padding: 20px !important;
  font-size: 20px !important;
}

.listItem:nth-child(even) .inputItemContent {
  background-color: gray;
  color: #fff;
}

.listItemContent h4 {
  padding: 12px 20px;
  border-radius: 4px;
  min-height: 48px;
  vertical-align: middle;
  word-wrap: break-word;
  margin: 0 0 40px;
  font-size: 22px;
}

.listItemContent h4:hover {
  background-color: #000;
  color: #fff;
  cursor: text;
}

.itemDate {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  margin-left: 40px;
}

.submitItemBtn {
  display: flex;
  justify-content: right;
  gap: 40px;
  width: 90%;
  margin-right: 40px;
}

.userInfoPage {
  margin-top: 4vw;
}

.userAvatar {
  width: 200px;
  border-radius: 50% !important;
  overflow: hidden;
  margin: 0 auto 60px;
}

.userAvatar img {
  width: 100%;
}

.userInfo div {
  margin: 12px 0;
}

.submitItemBtn .btnConfirm:hover {
  background-color: #24f355;
  color: #fff;
}

.submitItemBtn .btnReset:hover {
  background-color: red;
  color: #fff;
}

.submitItemBtn button {
  border: 1px solid #000;
  padding: 12px 32px;
  border-radius: 0;
}

/* .backToTop span {
  position: absolute;
  right: 0;
  margin-bottom: 40px;
  font-size: 40px;
}

.backToTop span sgv {
  width: 40px !important;
  height: 40px !important;
} */

@media (min-width: 1200px) {
  .listItem {
    width: 60vw;
  }
}

@media (max-width: 1000px) {
  .navbar-nav {
    display: none !important;
  }

  .navbar-toggler {
    position: absolute;
    right: 20px;
  }
}
